<%  @page_title = "Page Details" %>

<%= link_to("<< Back to Page List", pages_path, :class => "back-link") %>

<div class="pages show">
    <h2> Show Page </h2>
 
    <table summary="page detail view">

        <tr>
           <th> Name </th>
           <td> <%= @page.name %> </td>
        </tr>

        <tr>
           <th> Postion </th>
           <td> <%= @page.position %> </td>
        </tr>

        <tr>
            <th> Subject </th>
            <td> <%= @page.subject.name %> </td>
        </tr>

        <tr>
            <th> Permalink </th>
            <td> <%= @page.permalink %> </td>
        </tr>

        <tr>
           <th> Visible </th>
           <td> <%= @page.visible ? 'Yes' : 'No' %> </td>
        </tr>

        <tr>
           <th> Created </th>
           <td> <%= @page.created_at %> </td>
        </tr>

        <tr>
           <th> Updated </th>
           <td> <%= @page.updated_at %> </td>
        </tr>
    </table>
</div>
